:root {
  --initwidth: 1000px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    
    
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;

  font-size: 40px;
  color: #0077b6;
  font-weight: 500;
}


/* LENIS SCROLLING */

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html{
    width: 100%;

}

/* LENIS SCROLLING */


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #234353;
    z-index: 110;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.preloader.loaded {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.2s;
}

.preloader span {
    font-size: 60px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    animation: blur 3s linear infinite;
    line-height: 20px;
    transition: all 0.5s;
    letter-spacing: 0.2em;
}

@keyframes blur {

    0%,
    90% {
        filter: blur(0);
    }

    50% {
        filter: blur(10px);
    }
}


.navbarm{
    position: fixed;
    display: none;
    width: 100%;
    height: 100px;
    background-color: #85bce100;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    z-index: 101;
    box-shadow: 0 4px 8px rgba(35, 67, 83, 0.197);
    backdrop-filter: blur(5px);
    transition: 200ms ease-in;

    

}

.navlist{
    display: flex;
    position: fixed;
    top: 100px;
    width: 300px;
    height: calc(100vh - 100px);
    padding: 20px;
    background-color: #234353;
    z-index: 101;
    transition: 400ms;
    
}


#checkbox {
    display: none;
    
    
}

.toggle {
    user-select: none;
    scale: 0.7;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
    -webkit-tap-highlight-color: transparent;
}

.bars {
    user-select: none;
    width: 100%;
    height: 4px;
    background-color: #234353;
    border-radius: 5px;
    transition-duration: .3s;
}

#checkbox:checked+.toggle .bars {
    margin-left: 13px;
}

#checkbox:checked+.toggle #bar2 {
    transform: rotate(135deg);
    margin-left: 0;
    transform-origin: center;
    transition-duration: .3s;
}

#checkbox:checked+.toggle #bar1 {
    transform: rotate(45deg);
    transition-duration: .3s;
    transform-origin: left center;
}

#checkbox:checked+.toggle #bar3 {
    transform: rotate(-45deg);
    transition-duration: .3s;
    transform-origin: left center;
}



.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #85bce100;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 200ms ease-in;
    box-shadow: 0 4px 8px  rgba(35, 67, 83, 0.197);
    backdrop-filter: blur(5px);
}

.navcont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding: 10px;
}

.logo{
    width: 150px;
    height: 40px;
    background: url(./assets/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
}

.navlinks{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;

    
}

.navlinks a{
    text-decoration: none;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 1em;
    
    margin: 8px;
    border-radius: 15px;
    color: #234353;
    z-index: 100;
    


    
}

.navlink::before {
    margin-left: auto;
}

.navlink::after,
.navlink::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #234353;
    display: block;
    transition: 0.5s;
}

.navlink:hover::after,
.navlink:hover::before {
    width: 100%;
}

.navlinks .login{
    
    background-color: #ef4c69;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;

}

.navlinks .loginm{
    text-align: center;
    color: #234353;
    background-color: white;
    padding: 5px 20px;
    border-radius: 0px;
}

.navlinks .login:active{
    transform: scale(0.95);
    background-color: #e24965;
}

.navlinksm a{
    color: white;
}

.main{
    transition: 400ms;
}


.landpage{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    width: 100%;
    height: 800px;
    background: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),#48cae487),url(assets/bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 400ms;
    
}

#cont{
    transition: 400ms;
}

.heading{
    /* border: 1px solid white; */
    overflow-x: hidden;
    width: var(--initwidth);
    height: 500px;
    padding: 0px 50px;
    margin: 100px 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* top: 100px; */
    /* left : 200px; */
    justify-content: center;
    /* align-items: center; */
    z-index: 3;
    
    
}

.heading p:nth-child(1){
    font-family: "Antonio", sans-serif;
    font-size: 200px;
    font-weight: 600;
    color: #234353;
    text-shadow: 2px 2px 4px #0000005a;
    z-index: 3;
    
}

.heading p:nth-child(2){
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #fe4964;
    text-shadow: 1px 1px 4px #0000005a;
    letter-spacing: 4px;
    z-index: 3;
    
}

.qaccess{
    /* border: 1px solid white; */
    width: 70%;
    height: 100px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    z-index: 20;
}

.qchanel {
    cursor: pointer;
    font-weight: 700;
    font-family: "Montserrat", "sans-serif";
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #ef4c69;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s;
}

.qchanel:hover {
    background: #fe4964;
}

.qchanel svg {
    width: 26px;
    margin-left: 10px;
    transition: transform .2s ease-in-out;
}

.qchanel:hover svg {
    transform: translateX(5px);
}

.qchanel:active {
    background-color: #e24965;
    scale: 0.95;
    transition: 0.2s;
}

.emgnz-wrapper{
    position: absolute;
    border: 3px solid white;
    background-color: #0077b6;
    border-radius: 40px;
    width: var(--initwidth);
    min-height: 300px;
    bottom: -150px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.emgnzbox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    color: white;
    font-family: "poppins", sans-serif;
    



}

.emgnzhead{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 21px;
    font-weight: 800;

    
}
.emgnzdes{
    color: #ffffffe6;
}

.emgnznum{
    font-size: 22px;
    font-weight:500 ;
}

.emgnztime{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
    
}

.timewrp{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.578);
}




.sendto{
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(0deg, #f3f3fa, #faffff);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap:wrap ;
    padding-top: 180px;


}

 .sheader{

    /* border: 1px solid red; */
    
    width: var(--initwidth);
    font-family: "Poppins", sans-serif;

}

.shead{
    
    font-size: 36px;
    font-weight: 700;
    color: #0077b6;
}

.sheadshadow{
    font-size: 96px;
    font-weight: 700;
    color: #7997a71a;
    position: absolute;
    transform: translateY(-70px);

}

.services{
    width: var(--initwidth);
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services section{
    width: var(--initwidth);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    
}

.svc-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}


.svcwrapper{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-family: "poppins", sans-serif; 
    gap: 20px;
    

}

.svcheader{
    font-size: 20px;
    font-weight: 600;
    color: #0077b6;
}

.svcdes{
    font-size: 15px;
    color: #0000008d;
    font-weight: 400;
}

.svcphoto{
    overflow: hidden;
}

.svclmore{
    display: flex;
    align-items: center;
    color: #0077b6;
    font-weight: 600;
    cursor: pointer;
}

.svclmore:hover{
    color: #025582
}


.extrsvc-container{
    margin-top: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.extrsvc-wrapper{
    position: absolute;
    width: var(--initwidth);
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #0077b6;
    font-family: "Poppins", sans-serif;
    border: 2px solid white;

    

}

.extrbox{
    width: 300px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.extricon span{
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 40px;
    fill: 300;
    color: white;

}

.extricon span:active{
    background-color: rgba(255, 255, 255, 0.06);
}

.extrdes{
    font-size: 12px;
    color: #ffffffe6;;
}






footer{
    position: relative;
    width: 100%;
    min-height: 400px;
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
 
    gap: 50px;
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: #0077b6;

}

footer *{
    user-select: text;

}

.footercont{
    width: var(--initwidth);
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    
}

.finfo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

a{
    text-decoration: none;
    color: white;
}



.flogo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}

.fico{
    width: 50px;
    height: 50px;
    background-image: url(./assets/favicon.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;

}
.fdes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}
.flogo p:nth-child(1){
    font-weight: 600;
    font-size: 26px;
    
}

.finfo div p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    font-weight: 300;
}

.finfo div p span{
    color: white;
    font-size: 22px;
    
}

table{
    width: 500px;
    /* border: 1px solid white; */
    border-collapse: collapse;
}

th{
    font-size: 24px;
    height: 60px;
    
}

th:last-child{
    padding-left: 80px;
}

td{
    /* border: 1px solid white; */
    height: 40px;
    padding-left: 90px;
}


td a{
    color: #ffffffcf;

}
td a:hover{
    color: white;
}


.copyr{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: #025582;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dateandtime{
    position: absolute;
    right: 50px;
}




/* .doctors{
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
} */


/* media quaries------------------------------------------------------------- */


@media screen and (max-width: 1024px){
    
    :root {
  --initwidth: 900px;
    }
    
    .logo{
        scale: .8;
    }
    .navbar{
        padding: 0px 20px;
    }
    .navcont{
        width: 100%;
    }

    .navlinks{
        width: 70%;
    }


    .navlink{
        font-size: 1em;
        

    }

    .heading{
        padding: 0;
    }

    .heading p:nth-child(1) {
        font-size: 170px;
        font-weight: 800;
    }

    .heading p:nth-child(2) {

        font-weight: 600;
        letter-spacing: 2px;

    }

    .qaccess{
        padding: 0 10px;
    }

    .sendto .intro{
        font-size: 1.5rem;
        padding: 40px;
    
    }

    .visbox{
        width: 800px;
        
    }

    .footercont{
        scale: 0.8;
    }
    

}


@media screen and (max-width: 768px) {
    :root {
  --initwidth: 700px;
}
    
    .navbar{
        display: none;
    }
    .navbarm{
        display: flex;
        user-select: none;
        
    }

    .navlinks{
        position: absolute;
        gap: 20px;
        flex-direction: column;
        align-items: start;
    }

    .logo{
        margin: 0;
    }

    .landpage{
        min-height: 70vh;
    }

    .heading{
        padding: 10px;
        display: flex;
        flex-direction: column;

        justify-content: center;
        top: 50px;
    }


    .heading p:nth-child(1) {
        font-size: 8rem;
        font-weight: 800;
    }
    .heading p:nth-child(2) {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 8px;
        text-align: left;
    }

    .abhead{
        top: 100px;
    }

    .qaccess{
        margin-top: -20px;
        font-size: 1rem;
        
    }

    .qchanel{
        padding: 5px 15px;
        font-size: .9rem;
    }

    .qchanel svg{
        width: 25px;
    }

    .s-box{
        height: 50%;
    }

    .sendto .intro{
        font-size: 1.2rem;
    }
    
    .visbox{
        width: 600px;
        height: 50%;
    }

    .vistxt{
        font-size: 0.8rem;
    }

    .about-item {
        font-size: 0.8rem;
    }

    .about-item ion-icon{
        font-size: 0.9rem
    }

    .emgnzbox{
        padding: 0;
        scale: 0.8;
    }
    
    .copyr{
        font-size: 12px;
    }

    .dateandtime{
        right: 20px;
    }

    .svc-container{
        gap: 0;
        scale: 0.73;
    }

   

}


@media screen and (max-width: 425px) {

:root {
  --initwidth: 350px;
}

        .preloader span{
            font-size: 30px;
        }

        .heading p:nth-child(1) {
            font-size: 4.5rem;
            font-weight: 800;
            
        }

        .heading{
            margin: 10px 0px ;
        }


        .sendto .intro{
            font-size: 1.1rem;
        
        }
        .visbox{
        width: 350px;
        }

        .visimg{
            /* display: none; */
        }

        .shead{
            margin-top: 50px;
        }

        .sheadshadow{
            transform: translateY(-50px);
        }

        .services section{
            gap: 20px;
        }

        .emgnz-wrapper{
            bottom: -200px;

            flex-direction: column;
            
        }

        .emgnzbox{

            width: 80%;
            scale: 0.8;
        }

        .sheadshadow{
            font-size: 50px;
        }

        .footercont{
            flex-direction: column;
            gap: 30px;
            scale: 0.7;
        }

        .copyr{
            margin-top: 20px;
            font-size: 12px;
        }

        .dateandtime{
            right: 20px;
            display: none;
        }

        .svc-container{
            scale: 0.9;
            gap: 30px;
            flex-direction: column;
        }

        .extrsvc-wrapper{
            /* display: none; */
            padding: 0;
            flex-direction: column;
            gap: 10px;
        }

        th:last-child{
            padding-left: 0px;
        }

        td{
            /* border: 1px solid white; */
            height: 40px;
            padding-left: 60px;
        }
}


@media screen and (max-width: 375px) {
    .sendto .intro{
        font-size: 1rem;
    }

    .doc-btn{
        font-size: 13px;
        
    }

    .qaccess{
        /* margin-top: -150px; */
        
    }

    .visbox{
        width: 350px;
    }


}




