*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    width: 100%;
    scroll-behavior: smooth;
}
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 235, 235, 0.1);
}
.form-group {
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.contact{
    font-family: "Poppins",sans-serif;
    justify-content: center;
    align-items: center;
}
.contact_form{
    margin: 60px 100px 30px 150px;
    border-style:solid ;
    border-color: #001667;
    border-width: 2px;
    border-radius: 15px;
    padding: 5vh;
    width: 160vh;
    background-color: #0077b6;
    
 
}

.submit_button{
    font-family:"Poppins",sans-serif;
    width: 100px;
    border-style:solid;
    border-radius: 3px;
    padding: 10px;
    border-width: 2px;
    border-color: #003854;
    background-color: rgb(247, 254, 255);
    font-size: 15px;
}
.submit_button :hover{
    width: 130px;
    transition: 1s;
}

.contact1{
    
    background: linear-gradient(145deg, #ffffff, #d7f5f7);
    display: flex;
    flex-direction: row;
    width: 100%;
    
    }


#userForm{
    background-color: #0077b6;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.form-group label {
    color: #fff;
}



/*.....................contact page eke witrk ena styles................................*/
.contact{

background: linear-gradient(145deg, #ffffff, #d7f5f7);
display: flex;
flex-direction: column;
justify-content:center;

}

.contact_details{
   
   display: flex;
   flex-direction: row;
   
   background-color: #0077b6;
  
}
.contactsub{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    color: #0077b6;

}

.ContactH{
color: #004a72;
margin-left: 160px;
margin-top: 10vh;
margin-bottom: 5vh;
font-size: 5vh;
}

.contactD{
    margin:0px 10px 10px 30px;
    background-color: #ffffff;
    width:100%;
    justify-content: center;
    align-items: center;
    padding:10px 5px 1px 10px;


}
.contactc{ 
    background-color: rgb(233, 250, 255);
    width:100%;
    justify-content: center;
    align-items: center;
}
.desc_contact{
    color: #004a72;
}
.contact_box1{
    width:110%;
    background-image: url("./R.jpg");
    margin: 0px;
   
}

.contact_block{
    margin-top: 69px;
}

.img_contact4{
    margin: 20px;

}
.img_contact4 i{
    font-size: 40px;
    color: rgb(25, 54, 79);
}

.img1{
    height: 35px;
    width: 35px;
}
.desc_contact{
   
    font-size: 16px;
    margin: 3vh;
    font-family: "Poppins",sans-serif;
    text-align: center;
}


.contact-code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.e-app{
   
   margin-top: 4%;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   padding: 30px;
}
.e-app h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.e-app h1{
    font-size: 70px;
    margin-bottom: 50px;
}
.e-app p{
    font-size: 15px;
}
.imgstore{
    margin-top: 18px;
    height: 105px;
    width: 260px;
    
}
.imgstore1{
    height: 140px;
    width: 260px;
}

.qr-code{
    font-size: 180px;
    background-color:#ffffff; 
    width: 250px;
    height:250px; 
    border-radius: 10px; 
    margin-bottom:20px; 
    padding: 0px 0px 20px 45px;
   
}
/*.....................contact page eke witrk ena styles e tika methnin iwry................................*/


/*.......................................................................contact page eke media queries..................................................*/
@media screen and (max-width: 1024px){

    .ContactH{
      text-align:center;
      margin-left:10px;
      margin-top: 0px;;
      padding-top: 0px;
      font-size: 30px;
    }
      
    
    .contact_form{
        width: 700px;
        margin: 10px 10px 10px 20px;
    }
}
.dowstore{
    display: flex;
}
.playstore img{
    width: 350px;
    height: 50px;
    margin-top: 25px;

}
.appstore img{
    width: 350px;
    height: 50px;

}
@media screen and (max-width: 980px) {
    .contact1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact_form{
        width: 460px;
    }
    .mainHeading{
        font-size: 25px;
    }
    .contactD{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 100px;
    }
    .contactsub{
        margin: 10px;
    }
    
}
@media screen and (max-width: 768px) {
    
    .desc_contact{
   
        font-size: 15px;
        margin: 3vh;
        font-family: "Poppins",sans-serif;
        text-align: center;
    }
    .img_contact4{
        margin: 2vh;
    }
    .img2{
        width:400px;
        height:320px;
    }

    .ContactH{
      text-align:left;
      margin-left:0px;
      margin-top: 0px;;
      padding-top: 0px;
      font-size: 30px;
    }
    .img1{
    height: 25px;
    width: 25px;
        
    }
    .desc_contact{
    font-size: 15px;
    padding:1px;
    }

    .contactsub{
    height: 50px;
    }
    .contact_box{
    padding-top: 60px;
    margin-bottom: 9px;
    }
    .mainHeading{
        text-align: center;
    }
    .contact_box1{
        visibility:hidden;
    }
    .contact_details{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 560px) {
    .contactD{
        padding: 25px;
    }
    .imgstore{
        width: 200px;
        height: 100px;
    }
    .imgstore1{
        width: 200px;
        height: 135px;
    
    }
    
}

@media screen and (max-width: 425px) {
    .contact_form{
        width: 350px;
    }
    .hh{
        text-align: center;
    }
    .imgstore{
        width: 150px;
        height: 80px;
    }
    .imgstore1{
        margin-top: 6px;
        width: 150px;
        height: 105px;
    
    }
    
}

@media screen and (max-width: 325px) {

    .contact_form{
        width: 300px;
    }
    .contactD{
        width: 300px;
    }
    .desc_contact{
        font-size: 12px;
    }
    .e-app{
        display: flex;
        flex-direction: column;
    }
}

/*...........................................................................................................*/