*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar{
    width: 100%;
    padding: 0px 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0394c0e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 500ms;

}

.logo{
    width: 120px;
    height: 80px;
    background: white;
}

.navlinks{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.navlink{
    text-decoration: none;
    color: white;
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    transition: 400ms;
    margin: 8px;
    border-radius: 15px;
    
}

.navlink:hover {
    background-color: white;
    color: #005a81;
    padding: 8px 10px;
    margin: 0px;
    
    
}

/*Services page css styles go here ..............*/
/*Operations css styles go here ................*/

.Operations{
    background-color: rgb(108, 194, 255);
    padding-bottom: 5vh;
}


.Operationsbox{
display: flex;
flex-direction: row;
padding:5vh;
background-color: #0161b5;
margin: 8vh;
border-radius: 8vh;

}

.Heading_Op{
   padding-top: 20vh;
   font-family: "Montserrat",sans-serif;
   text-align: center;
   
}

.description_Op{

    text-align: center;
    padding:10vh;

}

.description_heading_Op{
    font-family: "Montserrat",sans-serif;
    text-align: center;
    padding:2vh;
    font-size: 3vh;
    color:white;
}
.description_para{
    font-family: "Montserrat",sans-serif;
    text-align: center;
    color:white;

}
.image_Op{
    align-items: center;
    justify-content: center;
    padding: 15vh;
    background-color: aliceblue;
    border-radius: 5vh;

}
/*Operations css styles go here ................*/

/*Awards css styles go here ................*/
.Awards{
    background-color: rgb(0, 98, 255);
    padding-bottom: 5vh;
}


.Awardsbox{
display: flex;
flex-direction: row;
padding:5vh;
background-color: #38b6ff;
margin: 8vh;
border-radius: 8vh;

}

.Heading_Aw{
   padding-top: 20vh;
   font-family: "Montserrat",sans-serif;
   text-align: center;
   
}

.description_Aw{

    text-align: center;
    padding:10vh;

}

.description_heading_Aw{
    font-family: "Montserrat",sans-serif;
    text-align: center;
    padding:2vh;
    font-size: 3vh;
    color:white;
}
.description_para{
    font-family: "Montserrat",sans-serif;
    text-align: center;
    color:white;

}
.image_Aw{
    align-items: center;
    justify-content: center;
    padding: 15vh;
    background-color: aliceblue;
    border-radius: 5vh;

}
/*Awards css styles go here ................*/
/*Services page css styles go here ................*/


/*.landpage{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(156, 215, 240, 0.8),rgba(156, 215,  240, 0.7)),url(assets/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.achive{
    width: 100%;
    min-height: 100vh;
}

.sticky_parent{
    min-height: 300vh;

}

.sticky{
    overflow: hidden;
    position: sticky;
    top: 0px;
    min-height: 100vh;
    /* border: 1px solid red; 

}

.scrollsect{
    position: absolute;
    top: 0;
    height: 100%;
    width: 300vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.sect{
    width: 100%;
    height: 100vh;
}





.footer{
    width: 100%;
    min-height: 100vh;
    background-color: teal;
}
*/


