*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    width: 100%;
    scroll-behavior: smooth;
}


.navbarm{
    position: fixed;
    display: none;
    width: 100%;
    height: 100px;
    background-color: #85bce100;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    z-index: 101;
    box-shadow: 0 4px 8px rgba(35, 67, 83, 0.197);
    backdrop-filter: blur(5px);

    

}

.navlist{
    display: flex;
    position: fixed;
    top: 100px;
    width: 200px;
    height: calc(100vh - 100px);
    padding: 20px;
    background-color: #ffffff;
    z-index: 101;
    transition: 400ms;
    -webkit-tap-highlight-color: transparent;
}

#checkbox {
    display: none;
    
    
}

.toggle {
    user-select: none;
    scale: 0.7;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
    -webkit-tap-highlight-color: transparent;
}

.bars {
    user-select: none;
    width: 100%;
    height: 4px;
    background-color: #234353;
    border-radius: 5px;
    transition-duration: .3s;
}

#checkbox:checked+.toggle .bars {
    margin-left: 13px;
}

#checkbox:checked+.toggle #bar2 {
    transform: rotate(135deg);
    margin-left: 0;
    transform-origin: center;
    transition-duration: .3s;
}

#checkbox:checked+.toggle #bar1 {
    transform: rotate(45deg);
    transition-duration: .3s;
    transform-origin: left center;
}

#checkbox:checked+.toggle #bar3 {
    transform: rotate(-45deg);
    transition-duration: .3s;
    transform-origin: left center;
}
.navbar{
    width: 100%;
    padding: 0px 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0394c0e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 500ms;

}

.logo{
    width: 120px;
    height: 80px;
    background: white;
}

.navlinks{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.navlink{
    text-decoration: none;
    color: white;
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    transition: 400ms;
    margin: 8px;
    border-radius: 15px;
    
}

.navlink:hover {
    background-color: white;
    color: #005a81;
    padding: 8px 10px;
    margin: 0px;
    
    
}

/*Services page css styles go here ..............*/
/*Operations css styles go here ................*/

.Operations{
    background-color: rgb(108, 194, 255);
    padding-bottom: 5vh;
    
}


.Operationsbox{
display: flex;
flex-direction:column;
padding:3vh 0.5vh 5vh 0.5vh;
background-color: #0161b5;
margin:10vh 40vh 10vh 40vh;
border-radius: 8vh;
justify-content: center;
align-items: center;


}

.Heading_Op{
   padding-top: 20vh;
   font-family: "Montserrat",sans-serif;
   text-align: center;
   color: white;
   font-size: 5vh;
   
}

.description_Op{

    text-align: center;
    

}

.description_heading_Op{
    font-family: "Montserrat",sans-serif;
    text-align: center;
    padding:2vh;
    font-size: 4vh;
    color:white;
    margin: 3vh;
}
.description_para{
    font-family: "Montserrat",sans-serif;
    text-align: center;
    color:white;
    margin: 1vh 5vh;
    font-size: 2vh;
    padding: 0.5vh 0.1vh 0.1vh 0.1vh;

}
.image_Op{
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 7.5vh;
    padding: 2.5vh;

}
.imgop{
    height:30vh ;
    width: 50vh;
    object-fit:cover;
    align-items: center;
    justify-content: center;
    border-radius: 5vh;
  
}
/*Operations css styles go here ................*/

/*Awards css styles go here ................*/
.Awards{
    background-color: rgb(0, 98, 255);
    padding-bottom: 5vh;
}

.Awardsouterbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Awardsbox{
display: flex;
flex-direction: column;
padding:1vh 2vh 1vh 2vh;
background-color: #38b6ff;
margin: 5vh;
border-radius: 8vh;
width:35%;


}

.Heading_Aw{
   padding-top: 20vh;
   font-family: "Montserrat",sans-serif;
   text-align: center;
   color: white;
   font-size: 5vh;
   
}

.description_Aw{

   
    text-align: center;
    padding:0.1vh;

}

.description_heading_Aw{
    font-family: "Montserrat",sans-serif;
    text-align: center;
    padding:2vh;
    font-size: 3vh;
    color:white;
}
.description_para{
    font-family: "Montserrat",sans-serif;
    text-align: center;
    color:white;
    margin: 10vh 5vh;
    font-size: 1.8vh;

}
.image_Aw{
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 7.5vh;
    
    

}
.imgAw{
    height:30vh ;
    border-radius: 7.5vh;
    padding: 2.0vh;
    
}
/*Awards css styles go here ................*/
/*Services page css styles go here ................*/


/*.landpage{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(156, 215, 240, 0.8),rgba(156, 215,  240, 0.7)),url(assets/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.achive{
    width: 100%;
    min-height: 100vh;
}

.sticky_parent{
    min-height: 300vh;

}

.sticky{
    overflow: hidden;
    position: sticky;
    top: 0px;
    min-height: 100vh;
    /* border: 1px solid red; 

}

.scrollsect{
    position: absolute;
    top: 0;
    height: 100%;
    width: 300vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.sect{
    width: 100%;
    height: 100vh;
}





.footer{
    width: 100%;
    min-height: 100vh;
    background-color: teal;
}
*/


/* media quaries------------------------------------------------------------- */


@media screen and (max-width: 1024px){

    .navlink{
        font-size: 1em;
    }

}
@media screen and (max-width: 900px) {
    .Heading_Op{
        padding-top: 30vh;
    }
    .Operationsbox{
        display: flex;
        flex-direction: column;
    }
    .Awardsbox{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 820px) {
    .navbar{
        display: none;
    }
    .navbarm{
        display: flex;
        user-select: none;
        
    }

    .navlinks{
        position: absolute;
        gap: 20px;
        flex-direction: column;
        align-items: start;
    }

    .logo{
        margin: 0;
    }

    .heading{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        top: 00px;
    }


    .heading p:nth-child(1) {
        font-size: 4.5px;
        font-weight: 800;
    }
    .heading p:nth-child(2) {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 2px;
        padding: 0;
    }

    .Operationsbox{
        display: flex;
        flex-direction: column;
        
    }
    .Awardsbox{
        display: flex;
        flex-direction: column;
    }
    .image_Op{
        align-items: center;
        justify-content: center;
        background-color: aliceblue;
        border-radius: 7.5vh;
        padding: 2.5vh;
    
    }
    .imgop{
        height:40vh ;
        width: 50vh;
        object-fit:cover;
        align-items: center;
        justify-content: center;
        border-radius: 5vh;
      
    }
    .image_Aw{
        align-items: center;
        justify-content: center;
        background-color: aliceblue;
        border-radius: 7.5vh;
        width: 50vh;
        
    
    }
    .imgAw{
        height:50vh ;
        border-radius: 7.5vh;
        padding: 2.0vh;
        
    }
}

@media screen and (max-width: 530px) {
    .imgop{
        width: min-content;
    }
    .description_para{
        font-family: "Montserrat",sans-serif;
        text-align: center;
        color:white;
        margin: 10vh 5vh;
        font-size: 1vh;
    
    }

}


@media screen and (max-width: 530px) {
    .Heading_Op{
        padding-top: 30vh;
    }
    .Operationsbox{
        display: flex;
        flex-direction: column;
    }
    .Awardsbox{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 425px) {
    .heading p:nth-child(1) {
            font-size: 4.5rem;
            font-weight: 800;
        }
}


@media screen and (max-width: 375px) {}